$font-stack: Georgia, serif;
$primary-color: rgb(89, 99, 160);
$window-color: rgba(32, 147, 255, 0.61);
$padded-spacing: 10px 40px;
$form-padding: 40px;
$form-color: rgb(234, 250, 250);
$footer-text-color: rgb(0, 4, 56);
$result-style: bold;